* {
  margin: 0;
  padding: 0;
}

.todoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.todoList {
  width: 300px;
  min-height: 400px;
}

.todoList .top,
.todoList .bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80px;
}

.todoList .middle {
  flex: 1;
}

.todoItems {
  list-style: none;
}

.todoItem {
  display: flex;
}

.todoItem .data {
  flex: 1;
  display: flex;
}

.todoItem .data strong {
  margin: 0 5px;
}